{% extends 'demo/base_module.html' %}

{% block content %}
<div class="row">    
    <div class="col l8 m12">
        <div class="card-panel form-card">
            <h3>Samurai TechInsurance</h3>
            <a href="#"><i class="glyphicon glyphicon-edit"></i> Features</a>
            <ul>
                <li>
                    - Lodge Claims
                </li>
                <li>
                    - Automate Document Submission Flow
                </li>
                <li>
                     -  Approve Within a Click
                </li>
            </ul>
            {% if not user.is_authenticated %}Please, log in to continue...{% endif %}
        </div>
    </div>
    <div class="col l4 m12">
        <div class="card-panel">
            <div class="card-title">Samurai-Insurance</div>
            <p>Easy to use, Tech Meets Insurance</p>
        </div>
    </div>

</div>

{% endblock content %}
